################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HL7XML/v15
/.vs/HL7XML/DesignTimeBuild
/.vs/config
